<h1>Fab logger viewer</h1>

<div class="well">
  <div id="chart"></div>
</div>

<div id="result"></div>

<%= form_tag '/upload_csv', method: 'post', multipart: true, remote: true do %>
   <label>Upload CSV</label>
   <%= file_field :fileupload, :file %>
	
   <%= submit_tag 'Upload' %>
<% end %>